<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order <%= current_user.email%>!</h4>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Product Total</th>
        </tr>
      </thead>
      <tbody>
        <div class="line-items">
          <% @order.line_items.each do |my_order|%>
            <tr>
              <td><%= image_tag  my_order.product.image.tiny %></td>
              <td> <%= my_order.product.name %></td>
              <td><%= my_order.product.description %></td>
              <td><%= my_order.quantity %></td>
              <td>
                <%= number_to_currency((my_order.total_price_cents) / 100) %>
              </td>
            </tr>
          <% end %>
         </div>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <td>
            <%= number_to_currency((@order.line_items.sum(:total_price_cents)) / 100) %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>




  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
<%= console %>
</section>
